# Load and Prep
---
> 1. Load and prep raw data
> 2. Label data
> 3. Apples to apples

In [1]:
# import packages
import numpy as np
import pandas as pd

# import own scripts
import sys
sys.path.insert(0, '/healthcare-fraud/src/')
import scripts as src

In [2]:
# import data
LEIE = src.read_from_efs('raw_LEIE.csv').reset_index(drop=True)
print('LEIE shape: ', LEIE.shape)
LEIE.tail()

LEIE shape:  (70056, 18)

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
70051,ZWOLINSKI,RUSSELL,K,NaN,"MEDICAL PRACTICE, MD",SURGERY,G25488,0,19670330.0,1728 W WINNEMAC AVE,CHICAGO,IL,60618,1128b4,20031020,0,0,NaN
70052,ZYDERVELD,MARY,ANN,NaN,PHARMACY,TECHNICIAN,NaN,0,19520825.0,1358 MORNING GLORY TURN,RUCKERSVILLE,VA,22962,1128b4,20090219,0,0,NaN
70053,ZYLSTRA,CHRISTEENA,LYNN,NaN,NURSING PROFESSION,NURSE/NURSES AIDE,NaN,0,19670724.0,1816 NE 49TH STREET,KANSAS CITY,MO,64118,1128b4,20100318,0,0,NaN
70054,ZYLSTRA,JAMES,PETER,NaN,REHAB FACILITY - GEN,EMPLOYEE,NaN,0,19550420.0,"2305 MINNESOTA BLVD, S E",ST CLOUD,MN,56304,1128a2,20040920,0,0,NaN
70055,ZYWOCINSKI,CYNTHIA,A,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,F00244,0,19630316.0,117 WHITE TAIL LANE,LANCASTER,MA,1523,1128b14,19990720,0,0,NaN

In [3]:
PartD = src.read_from_efs('raw_PartD.csv').reset_index(drop=True)
print('PartD shape: ', PartD.shape)
PartD.tail()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

PartD shape:  (97259508, 22)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year
97259503,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,LAMOTRIGINE,LAMOTRIGINE,NaN,...,367,108.87,0.0,NaN,0.0,NaN,0.0,0.0,0.0,2016
97259504,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,NaN,...,426,360.38,0.0,NaN,0.0,NaN,0.0,0.0,0.0,2016
97259505,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,RISPERIDONE,RISPERIDONE,NaN,...,432,172.30,NaN,*,NaN,*,NaN,NaN,NaN,2016
97259506,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,SERTRALINE HCL,SERTRALINE HCL,13.0,...,640,110.68,NaN,*,NaN,*,NaN,NaN,NaN,2016
97259507,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,TRAZODONE HCL,TRAZODONE HCL,16.0,...,632,209.33,NaN,*,NaN,*,NaN,NaN,NaN,2016

In [5]:
npi_excl = set(LEIE['NPI'])
npi = set(PartD['npi'])
common_npi = npi_excl.intersection(npi)
LEIE_clean = LEIE[['NPI','EXCLTYPE','EXCLDATE','REINDATE']][LEIE['NPI']\
                                                      .isin(common_npi)]\
                                                      .drop_duplicates()\
                                                      .reset_index(drop=True)
print('LEIE_clean shape: ', LEIE_clean.shape)
LEIE_clean.tail()

LEIE_clean shape:  (1148, 4)

             NPI EXCLTYPE  EXCLDATE  REINDATE
1143  1285742619   1128a1  20160320         0
1144  1891879003   1128b4  20160218         0
1145  1871523852   1128a4  20161020         0
1146  1558366815   1128a1  20160320         0
1147  1174561708   1128b4  20161220         0

In [7]:
PartD_excl = PartD[PartD['npi'].isin(common_npi)].drop_duplicates().reset_index(drop=True)
print('PartD_excl shape: ', PartD_excl.shape)
PartD_excl.tail()

PartD_excl shape:  (121096, 22)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year
121091,1982782900,EVANS,RICHARD,HOUSTON,TX,Physical Medicine and Rehabilitation,S,MELOXICAM,MELOXICAM,NaN,...,840,90.56,NaN,*,NaN,*,NaN,NaN,NaN,2016
121092,1982782900,EVANS,RICHARD,HOUSTON,TX,Physical Medicine and Rehabilitation,S,OXYCODONE HCL,OXYCODONE HCL,NaN,...,1284,3857.25,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2016
121093,1982782900,EVANS,RICHARD,HOUSTON,TX,Physical Medicine and Rehabilitation,S,OXYCONTIN,OXYCODONE HCL,NaN,...,435,7663.38,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2016
121094,1982782900,EVANS,RICHARD,HOUSTON,TX,Physical Medicine and Rehabilitation,S,TIZANIDINE HCL,TIZANIDINE HCL,NaN,...,510,305.07,NaN,*,17.0,NaN,17.0,510.0,305.07,2016
121095,1992720700,BEAUMONT,GRAHAM,SAN MATEO,CA,Psychiatry & Neurology,T,OLANZAPINE,OLANZAPINE,NaN,...,516,257.64,0.0,NaN,0.0,NaN,0.0,0.0,0.00,2016

In [35]:
PartD_ok = PartD[~PartD['npi'].isin(common_npi)].drop_duplicates().reset_index(drop=True)
PartD_ok['EXCLTYPE'] = np.nan
PartD_ok['EXCLDATE'] = np.nan
PartD_ok['REINDATE'] = np.nan

print('PartD_ok shape: ', PartD_ok.shape)
PartD_ok.tail()

PartD_ok shape:  (97138412, 25)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,EXCLTYPE,EXCLDATE,REINDATE
97138407,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,LAMOTRIGINE,LAMOTRIGINE,NaN,...,NaN,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN
97138408,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,NaN,...,NaN,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN
97138409,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,RISPERIDONE,RISPERIDONE,NaN,...,*,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN
97138410,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,SERTRALINE HCL,SERTRALINE HCL,13.0,...,*,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN
97138411,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,TRAZODONE HCL,TRAZODONE HCL,16.0,...,*,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN

In [16]:
def populate_exclusions(excl_npi):
    return LEIE_clean[['EXCLTYPE','EXCLDATE','REINDATE']][LEIE_clean['NPI'] == excl_npi].values.tolist()[0]

In [25]:
print("Number of available CPU cores: ")
!cat /proc/cpuinfo | grep processor | wc -l

Number of available CPU cores:
64

In [26]:
from multiprocessing import Pool
!pip install tqdm
from tqdm import tqdm_notebook
import itertools

# find target indeces for target drugs using multiprocessing
processors = 64
if __name__ == '__main__':
    tasks = PartD_excl['npi']
    function = populate_exclusions
    with Pool(processes=processors)as p:
        results = list(tqdm_notebook(p.imap(function, tasks), total=len(tasks)))

Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (4.24.0)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

HBox(children=(IntProgress(value=0, max=121096), HTML(value='')))

In [32]:
PartD_excl['EXCLTYPE'] = np.array(results).T[0]
PartD_excl['EXCLDATE'] = np.array(results).T[1]
PartD_excl['REINDATE'] = np.array(results).T[2]

In [45]:
PartD_excl['label'] = PartD_excl['year']<= pd.to_datetime(PartD_excl["EXCLDATE"], format="%Y%m%d").dt.year
PartD_ok['label'] = False

In [46]:
PartD_ok.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,EXCLTYPE,EXCLDATE,REINDATE,label
0,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,ISOSORBIDE MONONITRATE ER,ISOSORBIDE MONONITRATE,NaN,...,NaN,*,NaN,NaN,NaN,2013,NaN,NaN,NaN,False
1,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,LEVOFLOXACIN,LEVOFLOXACIN,26.0,...,15.0,NaN,15.0,106.0,159.72,2013,NaN,NaN,NaN,False
2,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,LISINOPRIL,LISINOPRIL,17.0,...,NaN,#,NaN,NaN,NaN,2013,NaN,NaN,NaN,False
3,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,METOPROLOL TARTRATE,METOPROLOL TARTRATE,28.0,...,NaN,#,NaN,NaN,NaN,2013,NaN,NaN,NaN,False
4,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,PREDNISONE,PREDNISONE,14.0,...,NaN,*,NaN,NaN,NaN,2013,NaN,NaN,NaN,False

In [51]:
df = pd.concat([PartD_excl, PartD_ok], axis=0).sort_values(['year','npi']).reset_index(drop=True)
df.shape

(97259508, 26)

In [53]:
df.tail()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,EXCLTYPE,EXCLDATE,REINDATE,label
97259503,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,LAMOTRIGINE,LAMOTRIGINE,NaN,...,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN,False
97259504,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,NaN,...,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN,False
97259505,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,RISPERIDONE,RISPERIDONE,NaN,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False
97259506,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,SERTRALINE HCL,SERTRALINE HCL,13.0,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False
97259507,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,TRAZODONE HCL,TRAZODONE HCL,16.0,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False

## Compare between `excluded` and  `not excluded` prescribers `apples to apples`
---
> 1. consider records only by common `specialty_description`and
> 2. by common `generic_name`

In [ ]:
trgt_specialties = set(df['specialty_description'][df['label'] == True])
trgt_drugs = set(df['generic_name'][df['label'] == True])

In [61]:
df_trgt = df[(df['specialty_description'].isin(trgt_specialties))&\
             (df['generic_name'].isin(trgt_drugs))].reset_index(drop=True)
df_trgt.tail()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,year,EXCLTYPE,EXCLDATE,REINDATE,label
94285115,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,LAMOTRIGINE,LAMOTRIGINE,NaN,...,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN,False
94285116,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,NaN,...,0.0,NaN,0.0,0.0,0.0,2016,NaN,NaN,NaN,False
94285117,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,RISPERIDONE,RISPERIDONE,NaN,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False
94285118,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,SERTRALINE HCL,SERTRALINE HCL,13.0,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False
94285119,1992999882,RUDZINSKI-WALTER,MARISSA,WILKES BARRE,PA,Physician Assistant,S,TRAZODONE HCL,TRAZODONE HCL,16.0,...,NaN,*,NaN,NaN,NaN,2016,NaN,NaN,NaN,False

In [64]:
src.save_to_efs(df_trgt, 'df_trgt.csv')